<div class="dashboard">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-7">
                <h2 class="welcome-title">Welcome, {{userName}}!</h2>
                <p class="welcome-text">
                    Check how well your resume matches any job description
                </p>

                <h5 class="section-title mt-5">Quick Actions</h5>

                <div class="row g-3">
                    <div class="col-md-4" routerLink="/upload">
                        <div class="action-card">
                            <div class="action-icon">
                                <i class="bi bi-cloud-arrow-up"></i>
                            </div>
                            <div class="action-text">Upload Resume</div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="action-card">
                            <div class="action-icon">
                                <i class="bi bi-bar-chart"></i>
                            </div>
                            <div class="action-text">Analyze New Job</div>
                        </div>
                    </div>

                    <div class="col-md-4" routerLink="/past-analysis">
                        <div class="action-card">
                            <div class="action-icon">
                                <i class="bi bi-file-earmark-text"></i>
                            </div>
                            <div class="action-text">View Reports</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats -->
            <div class="col-lg-5">
                <h5 class="section-title">Your Stats</h5>

                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="stat-card">
                            <div class="stat-label">Total resumes Uploaded</div>
                            <div class="stat-value">{{resumes.length}}</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="stat-card">
                            <div class="stat-label">Job Description Analyzed</div>
                            <div class="stat-value">{{analysisHistory.length}}</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="stat-card highlight">
                            <div class="stat-label">Best Match</div>
                            <div class="stat-value">{{bestMatch}}%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="stat-card">
                            <div class="stat-label">Last analysis date</div>
                            <div class="stat-value">
                                {{ lastAnalysisDate || 'N/A' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if(analysisHistory.length > 0){
            <div class="table-card">
        
                <h4>Recent Analyses</h4>
        
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Resume</th>
                                <th>Match</th>
                                <th>Skills</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let a of analysisHistory">
                                <td>{{ a.resume.originalName }}</td>
                                <td>{{ a.matchPercentage }}%</td>
                                <td>{{ a.matchedSkills.join(', ') }}</td>
                                <td>{{ a.createdAt | date:'dd MMM yyyy' }}</td>
                                <td>
                                    <button class="view-btn">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
            </div>
            }
            @if(analysisHistory.length === 0){
            <div class="empty-state">
                <p>You haven't uploaded any resume yet.</p>
                <button class="action-btn primary btn" routerLink="/upload">Upload Resume</button>
            </div>
            }
    </div>
</div>