<div class="container page-wrapper">
    <div class="page-card shadow-sm">
        <h2 class="page-title">Job Description</h2>

        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Job Title">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Company Name">
            </div>

            <div class="mb-3">
                <textarea type="text" class="form-control" placeholder="Job Description" rows="3"></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Analyze Resume</button>
            </div>

        </form>
    </div>
</div>