<div class="container auth-wrapper">
    <div class="auth-card shadow-sm">
        <h2 class="auth-title">AI Resume Analyzer</h2>

        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <input type="email" class="form-control" name="email" [(ngModel)]="formData.email"
                    placeholder="abcd@gmail.com">
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" name="password" [(ngModel)]="formData.password"
                    placeholder="Password">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="register-text">
                Forgot password?
                <a routerLink="/register">Register</a>
            </div>
        </form>
    </div>
</div>