<div class="container page-wrapper">

  <div class="row">

    <!-- Left Card -->
    <div class="col-lg-4">
      <div class="card-box">
        <h3>Match Overview</h3>

        <div class="progress-circle" [style.background]="
               'conic-gradient(#18d27c 0% ' + matchPercentage +
               '%, #12b9e6 ' + matchPercentage + '% 100%)'">
          <div class="progress-inner">
            {{ matchPercentage }}%
          </div>
        </div>

        <p class="match-text">
          Your resume matches this job by {{ matchPercentage }}%
        </p>

        <div class="experience-card">
          <span class="label">Experience Level</span>
          <span class="badge">{{ experienceLevel }}</span>
        </div>

        <hr>
        @if(aiSummary){
        <h4 class="mt-3">AI Summary</h4>
        <p class="ai-summary summary-box">{{aiSummary}}</p>
        }
      </div>
    </div>

    <!-- Right Card  -->
    <div class="col-lg-8">
      <div class="card-box">

        <h4>Matched Skills</h4>
        @if (matchedSkills.length > 0) {
        <div class="skills">
          @for (skill of matchedSkills; track skill) {
          <span class="chip chip-green">
            {{ skill }}
          </span>
          }
        </div>
        } @else {
        <p class="empty-text">
          No matching skills found for this job description.
        </p>
        }


        <h4>Missing Skills</h4>
        @if (missingSkills.length > 0) {
        <div class="skills">
          @for (item of missingSkills; track item) {
          <span class="chip" [ngClass]="item.type === 'core' ? 'chip-red' : 'chip-yellow'">
            {{ item.skill }} ({{ item.type }})
          </span>
          }
        </div>
        } @else {
        <p class="empty-text success">
          Great job! Your resume covers all required skills.
        </p>
        }

        <h4>AI Suggestions</h4>
        @if (suggestions.length > 0) {
        <div class="suggestion-box">
          <ul>
            @for (item of suggestions; track item) {
            <li class="ai-suggestions">{{ item }}</li>
            }
          </ul>
        </div>
        } @else {
        <p class="empty-text">
          No suggestions available. Your resume already looks strong.
        </p>
        }

        <div class="actions">
          <button class="btn-outline" (click)="downloadReport()">Download Report</button>
          <button class="btn-outline" routerLink="/job-description">Analyze Another Job</button>
        </div>

      </div>
    </div>

  </div>
</div>