/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --heading-font: "Montserrat", sans-serif;
    --btn-clr: #18b5cb;
    --btn-hover-clr: #19a2b5;
}

body{
    min-height: 100vh;
    background: radial-gradient(circle at top, #eef2f7, #ffffff);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}